:root{
	/*
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
	*/
	/*--font-main: 'Raleway', sans-serif;*/
	
	--primary: #349CE1;
	--primary-hover: #53B7FA;
	--black-primary: #333333 ;

	/*medidas de varios elementos*/
	--altoNav: 60px;
	--anchoNavCollapse: 60%;
}
*{

	box-sizing: border-box;
}

h2{
	font-family: Raleway;
	font-style: normal;
	font-weight: 800;
	font-size: 2.625em;
	margin: 33px;
	color: white;
	text-align: center;
}
a{
	text-decoration: none;
}

/*Barra de navegacion*/
.nav{
	background: white;
	display: flex;
	justify-content: center;
	height: var(--altoNav);
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1000;
	transition: 0.4s;

}
.navbar{
	display: flex;
	align-items: center;
	height: inherit;
	margin: auto;
	padding: 0 20px;	
	width: 100%;
	max-width: 1200px;
}
.navbar-brand{
	margin-right: 2.2rem;
	cursor: pointer;
	transform: translateY(15%);
}
.navbar-bars{
	display: none;
}

.navbar-collapse{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.navbar-left{
	display: flex;
	height: inherit;
	align-items: center;
}

.navbar-link{
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	color: var(--black-primary);
	margin-right: 3rem;
}
.visibleTablet{
		display: none;
}

.navbar-link:hover , .navbar-menu .active{
	color: var(--primary);
}

.navbar-right{
	display: flex;
	align-items: center;

}
.navbar-redes a{
	color: var(--black-primary);
	font-size: 1.6em;
	margin-right: 45px;
}

.fa-facebook-square:hover{
	color: #3a5896;
}
.fa-instagram:hover{
	color: #cd407f;
}
.fa-youtube:hover{
	color: red;
}

.btn-primary{
	background: var(--primary);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border: none;
	border-radius: 10px;
	color: white;
	padding: 10px 20px;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	cursor: pointer;
}
.btn-primary:hover{
	background: var(--primary-hover);
}

/*Header Encabezado*/
.header{
	background: url(assets/img-header.jpg);
	/*background-attachment: fixed;*/
	background-position: center;
	background-size: cover;
	margin-top: var(--altoNav);
	height: 533px;
	width: 100%;
	position: relative;

	display:flex;
	justify-content: center;
	align-items: center;
}
.header-bg{
	position: absolute;
	width: inherit;
	height: inherit;
	top: 0;
	left: 0;
	background: linear-gradient(90deg, rgba(30, 100, 235, 0.8) -89.81%, rgba(42, 112, 250, 0) 86.64%, rgba(255, 255, 255, 0.025) 101.25%, rgba(255, 255, 255, 0.025) 101.41%, rgba(239, 244, 254, 0.0791667) 101.43%);
}

.header-content{
	display: flex;
	flex-direction: column;
	padding: 10px 20px;
	align-items: center;
	width: 496px;
	height: 190px;
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid #349CE1;
	box-sizing: border-box;
	border-radius: 10px;
	transform: translateX(-50%);
	margin-left: 20px;

}

.header-content h2{
	font-family: Raleway;
	font-weight: bold;
	font-size: 1.7em;
	line-height: 1.2em;
	color: #FFFFFF;
	margin: 1rem 0 0.5rem 0;
}

.header-content p, .header-content span{
	font-family: Raleway;
	font-size: 1.1em;
	line-height: 1.2em;
	color: #FFFFFF;
	margin: 0 0 0 5px;
	text-align: center;
}

.header-content a{
	color: var(--primary);
	/*font-family: Raleway;*/
	text-decoration: none;
	font-size: 1.3em;
	position: absolute;
	bottom: 15px;
	cursor: pointer;
}

.header-content a:hover{
	color: var(--primary-hover);
}

/* SERVICIOS*/
.servicios{
	width: 100%;
}

.container{	
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1024px;
	margin: auto;
}
.card-service{
	width: 290px;
	margin: 0 20px;
	height: 270px;
	font-family: Raleway;
	text-align: center;
}

.card-service i{
	font-size: 3.5rem;
	color: var(--black-primary);
}

.title-service{
	color: var(--black-primary);
	margin-bottom: 4rem;
}



/*Proyectos*/
.proyectos{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.proyectos-header{
	background: var(--black-primary);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
	height: 100px;
	width: 100%;
}

.card-proyecto{
	background: #333;
	box-shadow: -2px 2px 10px #a5a5a5;
	width: 294px;
	margin: 2rem 20px;
	/*cursor: pointer;*/
	position: relative;
}

.card-proyecto img{
	width: 100%;
}

.btn-proyectos{
	margin: 15px auto;
}

.card-proyecto_hover{
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(165,165,165, 0.7);
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}

.card-proyecto_hover a{
	background: var(--primary);
	color: white;
	font-size: 1.250em;
	font-family: Roboto;
	padding: 10px 20px;
	border-radius: 10px;
}

.card-proyecto:hover .card-proyecto_hover{
	opacity: 1;
}


/*Sobre mi*/
.sobremi{
	background: var(--black-primary);
	position: relative;
	width: 100%;
	z-index: 10;
}
.sobremi-title{
	padding: 2rem 0;
}


.sobremi p{
	color: white;
	font-family: Raleway;
	font-size: 1.125em;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	margin-left: 20px;
	width: 50%;
}

.sobremi-avatar{
	border-radius: 10px;
	width: 400px;
	margin-right: 20px;
	z-index: 10;
}

.vector{
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: -1;
}

/*Contacto*/
.contacto{
	background: #1E1D1D;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 850px; 
}
.contacto-title{
	margin: 2rem 0 4rem 0;
}
.formulario{
	background: white;
	border-radius: 25px;
	border: 3px solid var(--primary);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	max-width: 700px;
	height: 650px

}

.formulario label{
	color: var(--black-primary);
	font-size: 1.25em;
	font-family: Raleway;
	margin: 30px 0 10px 0;
}

.formulario .input, .formulario textarea {
	background: #FFFFFF;
	border: 2px solid #349CE1;
	border-radius: 25px;
	font-size: 1.125em;
	font-family: Roboto;
	text-align: center;
	height: 55px;
	width: 80%;
	max-width: 80%;
}

.formulario textarea{
	height: 130px;
}

.formulario .submit{
	margin: 30px;
	width: 125px;
}

/*Footer*/
.footer{
	background: #181717;
	height: 90px;
	width: 100%;
	padding: 0 20px;
}

.footer small{
	color: white;
	font-family: Roboto;	
}

.footer > .container{
	align-items: center;
	height: inherit;
	max-width: 1200px;
}

.footer .redes{
	
}

.redes a{
	margin-left: 45px;
	color: white;
	font-size: 2.2em;
	cursor: pointer;
	display: inline-block;
}

/*animaciones*/
@keyframes fadeIn{
	from{opacity: 0;}
	to{opacity: 1;}
}
.fadeIn{
	animation-name: fadeIn;
	animation-duration: 2s;
	animation-delay: 0s;
}

/*Tablet*/
@media screen and (max-width: 992px) {

	/* Tablet navbar*/
	.navbar{
		flex-direction: column;
		align-items: flex-start;
		position: relative;

	}
	.navbar-brand{
		display: flex;
		justify-content: space-between;
		margin-right: 0;
		width: 100%;
		transform: translateY(30%);
	}
	.navbar-bars{
		background: none;
		border: none;
		color: var(--black-primary);
		font-size: 24px;
		display: block;
		transform: translateY(-15%);
	}
	.navbar-collapse{
		align-items: center;
		background: white;	
		flex-direction: column;
		padding-top: 20px;		
		width: 60%;
		position: relative;
		left: calc(-60% - 20px);
		transition: 0.6s;
	}
	.navbar-active{
		left: -20px;
	}

	.navbar-left{
		flex-direction: column;
	}

	.navbar-link{
		margin: 20px 0;
	}

	.navbar-left> .visibleTablet{
		display: flex;
	}

	.navbar-redes > a:last-child{
		margin: 0 ;
	}
	#btnContactar{
		display: none;
	}

	/*header*/
	.header-content{
		transform: translateX(0);
		margin: 0;
	}

	/* servicios */
	.servicios > .container{
		justify-content: space-around;
	}
	/* proyectos*/
	.card-proyecto{
		width: 80%;
		margin: 20px auto;
	}

	/*sobre mi*/
	.sobremi-avatar{
		width: 40%;
	}


}

@media screen and (max-width: 768px){
	.navbar-collapse{
		width: 90%;
		min-height: 90vh;
		max-height: 100vh;
		left: calc(-90% - 20px);		
		overflow: scroll;
	}
	.navbar-active{
		left: -20px;
	}

	.navbar-redes{
		padding-bottom: 20px;
	}
	.sobremi-title{
		margin: 0;
		padding: 2rem 0 0 0;
	}
	.sobremi .container{
		flex-direction: column-reverse;
		align-items: center;
		padding: 20px;
	}
	.sobremi .container p{
		margin: 20px 0;
		width: 100%
	}
	.sobremi-avatar{
		margin: 0;
	}

	.contacto-title{
		margin: 0 0 4rem 0;
	}

	.formulario{
		width: 70%;
	}

	.footer > .container{
		flex-direction: column-reverse;
		align-items: center;
		justify-content: space-around;
	}

	.redes > a:first-child{
		margin: 0;
	}
}

@media screen and (max-width: 576px){
	.header-content{
		width: 90%;
		height: 210px;
	}

	.sobremi-avatar{
		width: 55%;
	}
	.formulario{
		width: 90%;
	}
}

@media screen and (max-width: 360px){
	.header-content{
		height: 230px;
	}
}